* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Inter", serif;
    color: #fff;
    background-color: #282D35;
}

.container {
    width: 100%;
    max-width: 550px;
    margin-inline: auto;
}


.header-section {
    background-color: #21222A;
    padding: 32px 26px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 7px;
}

.navbar .navbar-logo {
    width: 28px;
    height: auto;
}

.navbar .nav-logo-title {
    color: #61DAFB;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -5%;
    line-height: 1em;
}

.main-section {
    padding-inline: 20px;
    padding-block-start: 56px;
    background-image: url(./assets/reactjs-icon.png);
    background-size: auto;
    background-position: right 70%;
    background-repeat: no-repeat;
}

.main-section .title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -5%;
    line-height: 1.1em;
}

.feature-list {
    padding-top: 40px;
}

.feature-list li::marker {
    color: #61DAFB;
    font-size: 1.5em;
}

.feature-list li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1em;
    padding-bottom: 16px;
}